<app-header></app-header>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    
    <form >
      <br><br>
        <div class="form-group" >
          <div class="container">
            <input id="login" class="form-control" name="login" placeholder="username"  [(ngModel)]="userid"><br>
            <input type="password" id="password" class="form-control" name="login" placeholder="password"  [(ngModel)]="password"><br>
            <input id="login" class="form-control" name="login" placeholder="firstname"  [(ngModel)]="fname"><br>
            <input id="login" class="form-control" name="login" placeholder="lastname"  [(ngModel)]="lname">
          </div>
        </div>
      <div class="p-fluid p-grid p-formgrid" >
        <div class="p-field p-col-12 p-md-4" style="text-align: center;">
            <p-calendar [(ngModel)]="date1" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" 
            inputId="navigators" placeholder="birthday" ></p-calendar>
        </div>
      </div>
      <div class="container">
          <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" >
          </ngx-recaptcha2>
      </div>
        
      <br> <br>
      <div class="text-center mt-4 mt-md-0">
         <a routerLink='/login'><button class="btn btn-outline-primary">Login</button>&nbsp;&nbsp;</a>
         <button class="btn btn-primary" (click)="Register()">Register</button><br><br>
       </div>
      
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
     
   </div>
</div>