<app-header></app-header>

<!-- อยู่ซ้ายแต่เป็นคนละสี
    <div style="text-align: left;">
    <nav class="navbar navbar-dark bg-primary" >
      
        <a href="/home"><img src="../../assets/logopage.png" alt="" width="100px"></a>
    </nav>
</div> -->
<!DOCTYPE html>
<html lang="en">

<head>


	<meta charset="utf-8">

	<!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
	<!--  All snippets are MIT license http://bootdey.com/license -->

	<title>Social Network timeline feed - Bootdey.com</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
	</style>
</head>

<body>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="form-group">
		<div class="col-md-7 col-md-offset-2">
			<br>
			<input id="login" class="form-control" name="login" placeholder="Search"><br>
		</div>
	</div>
	<div class="container bootstrap snippets bootdeys">
		<div class="col-md-7 col-md-offset-2">
			<div class="panel">
				<div class="Profile picture" style="text-align: center;"> <a routerLink="/profile/{{this.userid}}"
						class="btn-link text-semibold">
						<img src="{{this.profileimg}}" alt="Profile picture" width="200"></a>
				</div>
				<div style="text-align: center;">
					<a routerLink="/profile/{{this.userid}}" class="btn-link text-semibold">{{this.name}}</a>
				</div>
				<div class="panel-body" type="button" (click)="showBasicDialog()">
					<textarea class="form-control" rows="2" placeholder="มีเรื่องราวใหม่ๆมาแชร์ไหม??"></textarea>
					<div class="mar-top clearfix">
						<button class="btn btn-sm btn-primary pull-right" type="submit"><i
								class="fa fa-pencil fa-fw"></i> Share</button>
						<fa-icon [icon]="iconimg" style="width: 20px;"></fa-icon>



					</div>
				</div>
				<p-dialog header="New Post" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
					<div class="right">
						<div class="col-md-7 col-md-offset-2">
							<input id="login" class="form-control" name="login" placeholder="Storyname"
								[(ngModel)]="this.storyname"><br>
						</div>
						<p-dropdown [options]="tags" [(ngModel)]="tag" [itemSize]="5" placeholder="Select Tags"
							[showClear]="true"><br>
						</p-dropdown> &nbsp;
						<p-dropdown [options]="privacy" [(ngModel)]="target" [itemSize]="3" placeholder="Privacy"
							[showClear]="true"><br>
						</p-dropdown>
					</div>
					<br><br>
					<div class="panel-body" type="button">
						<textarea class="form-control" rows="2" placeholder="มีเรื่องราวใหม่ๆมาแชร์ไหม??"
							[(ngModel)]="this.storydesc"></textarea>
						<div class="mar-top clearfix">
							<button class="btn btn-sm btn-primary pull-right" type="submit" (click)="CreatePost()"><i
									class="fa fa-pencil fa-fw"></i> Share</button>
							<!-- <fa-icon [icon]="iconimg" style="width: 20px;" ></fa-icon> -->
							<p-fileUpload  [auto]="setButTrue" chooseLabel=" " [customUpload]="setButTrue"
								accept="image/*" (uploadHandler)="UploadCoverPhoto($event)">
								<ng-template pTemplate="content">
									<ul *ngIf="uploadedFiles.length">
										<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
									</ul>
								</ng-template>
							</p-fileUpload>
							<!-- <i class="" (click)="showBasicDialog() "></i> -->
						</div>
					</div>
					<ng-template pTemplate="footer">
					</ng-template>
				</p-dialog>
				<p-dialog header="Edit Post" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
					<div class="right">
						<div class="col-md-7 col-md-offset-2">
							<input id="login" class="form-control" name="login" placeholder="Storyname"
								[(ngModel)]="this.storyname"><br>
						</div>
						<p-dropdown [options]="tags" [(ngModel)]="tag" [itemSize]="5" placeholder="Select Tags"
							[showClear]="true"><br>
						</p-dropdown> &nbsp;
						<p-dropdown [options]="privacy" [(ngModel)]="target" [itemSize]="3" placeholder="Privacy"
							[showClear]="true"><br>
						</p-dropdown>
					</div>
					<br><br>
					<div class="panel-body" type="button">
						<textarea class="form-control" rows="2" placeholder="มีเรื่องราวใหม่ๆมาแชร์ไหม??"
							[(ngModel)]="this.storydesc"></textarea>
						<div class="mar-top clearfix">
							<button class="btn btn-sm btn-primary pull-right" type="submit" (click)="EditPost()"><i
									class="fa fa-pencil fa-fw"></i> Save</button>
							<!-- <fa-icon [icon]="iconimg" style="width: 20px;" ></fa-icon> -->
							<p-fileUpload  [auto]="setButTrue" chooseLabel=" " [customUpload]="setButTrue"
								accept="image/*" (uploadHandler)="UploadCoverPhoto($event)">
								<ng-template pTemplate="content">
									<ul *ngIf="uploadedFiles.length">
										<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
									</ul>
								</ng-template>
							</p-fileUpload>
							<!-- <i class="" (click)="showBasicDialog() "></i> -->
						</div>
					</div>
					<ng-template pTemplate="footer">
					</ng-template>
				</p-dialog>
			</div>
			<div class="panel panel-body">
				<!-- Timeline -->
				<!--===================================================-->
				<div class="timeline">

					<!-- Timeline header -->
					<div class="timeline-header">
						<div class="timeline-header-title bg-success">Now</div>
					</div>

					<div class="timeline-entry" *ngFor="let post of allpost; let i = index;">
						<div class="timeline-stat">
							<div class="timeline-icon"> <a routerLink="/profile/{{post.UserID}}"
									class="btn-link text-semibold" *ngIf="post.Profileimg != null;else elseblock">
									<img src="http://203.154.83.62:1507/img/profile/{{post.Profileimg}}"
										alt="Profile picture" width="500"></a>
								<ng-template #elseblock>
									<a routerLink="/profile/{{post.UserID}}" class="btn-link text-semibold">
										<img src="https://tcc-chaokoh.com/themes/default/asset/images/icon-user-default.png"
											alt="Profile picture" width="500"></a>
								</ng-template>
							</div>
							<div class="timeline-time">{{post.StoryTime}}</div>
						</div>
						<div class="timeline-label">
							<p class="mar-no pad-btm"><a routerLink="/profile/{{post.UserID}}"
									class="btn-link text-semibold">{{post.Firstname}} {{post.Lastname}}</a> posted
								{{post.Storyname}}</p>
							<p-dropdown class="align-right" [options]="manage" [(ngModel)]="slmanage"
								*ngIf="this.userid==post.UserID" [itemSize]="3" placeholder="จัดการโพสต์"
								[showClear]="true"
								(click)="ManagePost(post.StoryID,post.Storyname,post.Tag,post.Targetgroup,post.StoryDesc,post.Coverphoto)">
								<br>
							</p-dropdown>
							<!-- <p-dropdown [options]="dates" [(ngModel)]="Day" placeholder="{{Day}}" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown> -->
							<p>
								{{post.StoryDesc}}
							</p>
							<div class="img-holder" *ngIf="post.Coverphoto!='' && post.Coverphoto!= null">
								<img src="http://203.154.83.62:1507/img/coverphoto/{{post.Coverphoto}}" alt="Image"
									width="500">
							</div>
							<br>
							<div>
								<span>
									<fa-icon [icon]="iconlike" style={{this.iconstyles[i]}} (click)="Like(i,post.StoryID,post.AmountOfLikes)"></fa-icon> {{post.AmountOfLikes}} &nbsp;
								</span>					
								<span>
								<fa-icon [icon]="comment" style="width: 20px;" (click)="showDialog()"></fa-icon> {{post.AmountOfComments}}
								</span>
								<p-dialog header="comment" [(visible)]="display" [style]="{width: '50vw'}"
									[baseZIndex]="10000">
									<div class="right">
										<div class="col-md-7 col-md-offset-2">
											<input id="login" class="form-control" name="login"
												placeholder="new comment" [(ngModel)]="this.storyname"><br>
										</div>
									</div>
									<br><br>

									<ng-template pTemplate="footer">

									</ng-template>
								</p-dialog>

							</div>
						</div>
					</div>
					<!-- <div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-danger"><i class="fa fa-building fa-lg"></i>
    					</div>
    					<div class="timeline-time">2 Hours ago</div>
    				</div>
    				<div class="timeline-label">
    					<h4 class="mar-no pad-btm"><a href="#" class="text-danger">Job Meeting</a></h4>
    					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Profile picture">
    					</div>
    					<div class="timeline-time">3 Hours ago</div>
    				</div>
    				<div class="timeline-label">
    					<p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a>
    					</p>
    					<blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i>
    					</div>
    					<div class="timeline-time">5 Hours ago</div>
    				</div>
    				<div class="timeline-label">
    					<img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Profile picture">
    					<a href="#" class="btn-link text-semibold">Bobby Marz</a> followed you.
    				</div>
    			</div> -->

					<!-- Timeline header -->
					<!-- <div class="timeline-header">
    				<div class="timeline-header-title bg-dark">Yesterday</div>
    			</div>
    
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-info"><i class="fa fa-envelope fa-lg"></i>
    					</div>
    					<div class="timeline-time">15:45</div>
    				</div>
    				<div class="timeline-label">
    					<h4 class="text-info mar-no pad-btm">Lorem ipsum dolor sit amet</h4>
    					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-success"><i class="fa fa-thumbs-up fa-lg"></i>
    					</div>
    					<div class="timeline-time">13:27</div>
    				</div>
    				<div class="timeline-label">
    					<img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Profile picture">
    					<a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon"></div>
    					<div class="timeline-time">11:27</div>
    				</div>
    				<div class="timeline-label">
    					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    				</div>
    			</div> -->
				</div>
				<!--===================================================-->
				<!-- End Timeline -->
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">

	</script>
</body>

</html>