<app-header></app-header>

<!-- อยู่ซ้ายแต่เป็นคนละสี
    <div style="text-align: left;">
    <nav class="navbar navbar-dark bg-primary" >
      
        <a href="/home"><img src="../../assets/logopage.png" alt="" width="100px"></a>
    </nav>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>

    
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Social Network timeline feed - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
    <div class="col-md-7 col-md-offset-2">
        <div class="panel">
			<div class="Profile picture" style="text-align: center;"> <a routerLink="/profile/{{this.userid}}" class="btn-link text-semibold">
				<img src="{{this.profileimg}}" 
				alt="Profile picture" width="200"></a>
			</div>
			<div style="text-align: center;">
				<a routerLink="/profile/{{this.userid}}" class="btn-link text-semibold">{{this.name}}</a>
			</div>
            <div class="panel-body">
				
        		<textarea class="form-control" rows="2" placeholder="มีเรื่องราวใหม่ๆมาแชร์ไหม??"></textarea>
        		<div class="mar-top clearfix">
        			<button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        			<a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#" data-original-title="Add Video" data-toggle="tooltip"></a>
        			<a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#" data-original-title="Add Photo" data-toggle="tooltip"></a>
        			<a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#" data-original-title="Add File" data-toggle="tooltip"></a>
        		</div>
        	</div>
        </div>
        <div class="panel panel-body">
    		<!-- Timeline -->
    		<!--===================================================-->
    		<div class="timeline">
    
    			<!-- Timeline header -->
    			<div class="timeline-header">
    				<div class="timeline-header-title bg-success" >Now</div>
    			</div>
    
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon"> <a routerLink="/profile" class="btn-link text-semibold">
							<img src="https://www.posttoday.com/media/content/2016/12/28/BB5B5C39B42749668D77807DB9821F75.jpg" 
							alt="Profile picture" width="500"></a>
						</div>
    					<div class="timeline-time">30 Min ago</div>
    				</div>
    				<div class="timeline-label">
                        <p class="mar-no pad-btm"><a routerLink="/profile" class="btn-link text-semibold">ประยุทธ์ จันทร์อังคารพุธ</a> shared an image</p>
                        <p>
                            ฝากติดตามเรื่องต่อไป >> อย่าลืมเเเวะมาช่วยแต่เติมเนื้อเรื่องด้วยกันนะครับผม
                        </p>
    					<div class="img-holder">
    						<img src="https://wallpaperboat.com/wp-content/uploads/2019/09/anime-art-Sao1.jpg" alt="Image">
    					</div>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-danger"><i class="fa fa-building fa-lg"></i>
    					</div>
    					<div class="timeline-time">2 Hours ago</div>
    				</div>
    				<div class="timeline-label">
    					<h4 class="mar-no pad-btm"><a href="#" class="text-danger">Job Meeting</a></h4>
    					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Profile picture">
    					</div>
    					<div class="timeline-time">3 Hours ago</div>
    				</div>
    				<div class="timeline-label">
    					<p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a>
    					</p>
    					<blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i>
    					</div>
    					<div class="timeline-time">5 Hours ago</div>
    				</div>
    				<div class="timeline-label">
    					<img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Profile picture">
    					<a href="#" class="btn-link text-semibold">Bobby Marz</a> followed you.
    				</div>
    			</div>
    
    			<!-- Timeline header -->
    			<div class="timeline-header">
    				<div class="timeline-header-title bg-dark">Yesterday</div>
    			</div>
    
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-info"><i class="fa fa-envelope fa-lg"></i>
    					</div>
    					<div class="timeline-time">15:45</div>
    				</div>
    				<div class="timeline-label">
    					<h4 class="text-info mar-no pad-btm">Lorem ipsum dolor sit amet</h4>
    					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon bg-success"><i class="fa fa-thumbs-up fa-lg"></i>
    					</div>
    					<div class="timeline-time">13:27</div>
    				</div>
    				<div class="timeline-label">
    					<img class="img-xs img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Profile picture">
    					<a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
    				</div>
    			</div>
    			<div class="timeline-entry">
    				<div class="timeline-stat">
    					<div class="timeline-icon"></div>
    					<div class="timeline-time">11:27</div>
    				</div>
    				<div class="timeline-label">
    					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    				</div>
    			</div>
    		</div>
    		<!--===================================================-->
    		<!-- End Timeline -->
    	</div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>
