<app-header></app-header>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    <form >
      <br><br>
        <div class="form-group" >
          <div class="container">
            <small class="p-d-block ui-state-error">Firstname</small>
            <input id="form" class="form-control" name="fname" placeholder="Firstname" [(ngModel)]="this.fname"><br>
            <small class="p-d-block ui-state-error">Lastname</small>
            <input id="form" class="form-control" name="lname" placeholder="Lastname" [(ngModel)]="this.lname"> <br>
            <small class="p-d-block ui-state-error">Country</small>
            <input id="form" class="form-control" name="country" placeholder="Country" [(ngModel)]="this.country"><br>
            <small class="p-d-block ui-state-error">Country</small>
            <input id="form" class="form-control" name="udesc" placeholder="Description" [(ngModel)]="this.udesc"> <br>
            <small class="p-d-block ui-state-error">Country</small>
            <input id="form" class="form-control" name="skills" placeholder="Skills" [(ngModel)]="this.skills"><br>
            <small class="p-d-block ui-state-error">Birthday</small>
            <input type="date" id="birthday" class="form-control" name="birthday" placeholder="Birthday" [(ngModel)]="this.bday"><br>
            <small class="p-d-block ui-state-error">Phone</small>
            <input id="form" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="this.phone"> <br>
            <small class="p-d-block ui-state-error">Email</small>
            <input id="form" class="form-control" name="mail" placeholder="Mail" [(ngModel)]="this.mail"><br>
            <small class="p-d-block ui-state-error">Facebook</small>
            <input id="form" class="form-control" name="fb" placeholder="Facebook" [(ngModel)]="this.fb"> <br>
            <small class="p-d-block ui-state-error">Twitter</small>
            <input id="form" class="form-control" name="twitter" placeholder="Twitter" [(ngModel)]="this.twitter"> <br><br>
            <small class="p-d-block ui-state-error">confirm password</small>
            <input id="form" class="form-control" name="password" placeholder="" [(ngModel)]="this.password" required> <br>
          </div>
        </div>
      <div class="text-center mt-4 mt-md-0">
         <button class="btn btn-primary" (click)="Edit()">Save</button>&nbsp;&nbsp;
         <!-- <button class="btn btn-primary" (click)="">Register</button><br><br> -->
       </div>
      
    </form>
    <br> 
    <p-dialog header="ผิดพลาด" [(visible)]="display1" [style]="{width: '20vw'}" [baseZIndex]="10000">
      <p>กรุณากรอกรหัสยืนยันให้ถูกต้อง</p></p-dialog>
    <!-- Remind Passowrd -->
</div>