<app-header></app-header>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    
    <form >
      <br><br>
        <div class="form-group" >
          <div class="container">
            <input id="login" class="form-control" name="login" placeholder="username"><br>
            <input type="password" id="password" class="form-control" name="login" placeholder="password"><br>
            <input id="login" class="form-control" name="login" placeholder="firstname"><br>
            <input id="login" class="form-control" name="login" placeholder="lastname"> <br>
            <input type="date" id="birthday" class="form-control" name="birthday" placeholder="birthday">
          </div>
        </div>
      
        
      <br> <br>
      <div class="text-center mt-4 mt-md-0">
         <a routerLink='/login'><button class="btn btn-outline-primary">Edit</button>&nbsp;&nbsp;</a>
         <!-- <button class="btn btn-primary" (click)="">Register</button><br><br> -->
       </div>
      
    </form>

    <!-- Remind Passowrd -->
</div>