<app-header></app-header>

<html>
    <body>
        <div class="a">
            <h2>What you are interested in</h2>
        </div>

        <table align="center">
            
            <td><img src="../../assets/art.jpg" alt="" width="300"></td>
            <td><img src="../../assets/design.jpg" alt="" width="300"></td>
            <td><img src="../../assets/Fiction.jpg" alt="" width="300"></td>
            <td><img src="../../assets/music.png" alt="" width="300"></td>
            <td><img src="../../assets/travel.jpg" alt="" width="300"></td>
        </table>
    </body>
</html>