<app-header></app-header>

<html>
    <body>
        <div class="a">
            <br>
            <h4>สนใจอะไรเป็นพิเศษมั้ยครับ??</h4>
            <br>
        </div>
        <table align="center">
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="../../assets/art.jpg" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ศิลปะ
                            </div>
                        </label>
                    </div>
                </div>
               
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="../../assets/design.jpg" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ออกแบบ
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="../../assets/Fiction.jpg" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                นิยาย
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="../../assets/music.png" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ดนตรี
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="../../assets/travel.jpg" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ท่องเที่ยว
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            
        </table>
    </body>
</html>