<app-header></app-header>

<html>
    <body>
        <div class="a">
            <br>
            <h4>สนใจอะไรเป็นพิเศษมั้ยครับ??</h4>
            <br>
        </div>
        <table align="center">
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="ChooseTag(!this.clicktag[0],1)">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="http://203.154.83.62:1507/img/profile/art" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ศิลปะ
                            </div>
                        </label>
                    </div>
                </div>
               
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="ChooseTag(!this.clicktag[1],2)">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="http://203.154.83.62:1507/img/profile/design" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ออกแบบ
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="ChooseTag(!this.clicktag[2],3)">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="http://203.154.83.62:1507/img/profile/Fiction" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                นิยาย
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="ChooseTag(!this.clicktag[3],4)">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="http://203.154.83.62:1507/img/profile/music" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ดนตรี
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <div class="text-center pb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="ChooseTag(!this.clicktag[4],5)">
                        <label class="form-check-label" for="flexCheckDefault">
                        <img src="http://203.154.83.62:1507/img/profile/travel" alt="profile" class="img-xs rounded-circle" width="200" >
                            <div class="mb-3">
                                ท่องเที่ยว
                            </div>
                        </label>
                    </div>
                </div>
            </td>
            
        </table>
        <div class="a">
            <button pButton type="button" label="Save" (click)="SaveTag()"></button>
        </div>
        
        <p-dialog header="ผิดพลาด" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000">
            <p>กรุณาเลือกอย่างน้อย 1 แท็ก</p></p-dialog>
    </body>
</html>