<app-header></app-header>

<!-- อยู่ซ้ายแต่เป็นคนละสี
    <div style="text-align: left;">
    <nav class="navbar navbar-dark bg-primary" >
      
        <a href="/home"><img src="../../assets/logopage.png" alt="" width="100px"></a>
    </nav>
</div> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->

    <title>Social Network timeline feed - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    </style>

</head>

<body>
    <h1>{{this.storyname}}</h1>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="form-group">
        <div class="col-sm-3">
            <p-button class="btn-primary" icon="pi pi-arrow-left" (onClick)="showPrevStoryDialog()"></p-button>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <p-button class="btn-primary" icon="pi pi-arrow-right" (onClick)="showNextStoryDialog()"></p-button>
        </div>
    </div>
    <div class="container bootstrap snippets bootdeys">
        <div class="col-md-7 col-md-offset-2">

            <div class="panel">

                <p-fileUpload name="upload[]" mode="basic" [auto]="setButTrue" chooseLabel=" "
                    *ngIf="this.ownid==this.userid" [customUpload]="setButTrue" multiple="multiple" accept="image/*"
                    (uploadHandler)="myUploader($event)">
                </p-fileUpload>
                <button class="btn-primary" (click)="showaddTextDialog()" *ngIf="this.ownid==this.userid">Add
                    Text</button>
            </div>
            <div class="panel panel-body">
                <div *ngFor="let content of allcontent; let i = index;">
                    <div class="col-sm-12" *ngIf="i>0 && this.ownid==this.userid">
                        <p-button class="btn-primary" icon="pi pi-arrow-up" (onClick)="SwapContent(i,i-1)"></p-button>
                    </div>

                    <p class="title" *ngIf="content.ContentType == 'text'">
                        <br><br>
                        {{content.ContentDesc}}
                    </p>
                    <div *ngIf="content.ContentType == 'image'">
                        <img src="http://203.154.83.62:1507/img/{{this.ownid}}/{{content.PostID}}/{{content.ContentDesc}}"
                            alt="Profile picture" width="500">
                    </div>
                    <div class="col-sm-12" *ngIf="i<this.length-1 && this.ownid==this.userid">
                        <p-button class="btn-primary" icon="pi pi-arrow-down" (onClick)="SwapContent(i,i+1)"></p-button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <p-dialog header="เพิ่มข้อความ" [(visible)]="displayaddText" [style]="{width: '50vw'}" [baseZIndex]="10000">
            <textarea class="form-control" rows="7" placeholder="เพิ่มคำบรรยายเรื่องราวของคุณ..."
                [(ngModel)]="this.text"></textarea>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="addContent()" label="Save" styleClass="p-button-text">
                </p-button>
            </ng-template>
        </p-dialog>
        <p-dialog header="เพิ่มเรื่องก่อนหน้า" [(visible)]="displayshowPrevStory" [style]="{width: '50vw'}"
            [baseZIndex]="10000">
            <p-dropdown [options]="prevstory" [(ngModel)]="previd" [itemSize]="7" placeholder="Select PrevStory"
                [showClear]="true" >
            </p-dropdown><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="displayshowPrevStory=false" label="Ok" styleClass="p-button-text">
                </p-button>
            </ng-template>
        </p-dialog>
        <p-dialog header="เพิ่มเรื่องถัดมา" [(visible)]="displayshowNextStory" [style]="{width: '50vw'}"
            [baseZIndex]="10000">
            <p-dropdown [options]="nextstory" [(ngModel)]="nextid" [itemSize]="7" placeholder="Select NextStory"
                [showClear]="true" >
            </p-dropdown><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="displayshowNextStory=false" label="Ok" styleClass="p-button-text">
                </p-button>
            </ng-template>
        </p-dialog>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>